<style>
  div.books-active {
    background-color:#CDE4CA;
    padding:10px 4px 10px 4px;
    margin:-8px 0px -8px 0px;
    color:#35672E;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 2px 2px 10px #000;
    -webkit-box-shadow: 2px 2px 10px #666;
    font-weight:bold;
  }
  div.books {
    background-color:#EDEAEA;
    padding:10px 4px 10px 4px;
    margin:-8px 0px -8px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

</style>

<h3>単語帳一覧 <a href="#myModal" data-toggle="modal"><i class="icon icon-plus-sign"></i></a></h3>
  <a onclick="book_show(0);"><div class="library books-active" id="0">ライブラリ</div></a>
  <div />
  <% @books.each do |b| %>
    <a onclick="book_show(<%= b.id %>);"><div id="<%= b.id %>" class="library books"><p style="word-break: break-all;"><%= b.title %></p></div></a>
  <% end %>
  <!--
<ul>
  <a onclick="book_show(0);"><div class="library alert alert-success" id="0">ライブラリ</div></a>
  <br />
  <%# @books.each do |b| %>
    <!--<div class="library alert" id="<%#= b.id %>"><p style="word-break: break-all;"><a onclick="return(false);"><%#= b.title %></a></p></div>-->
    <!--<a onclick="book_show(<%#= b.id %>);"><div class="library alert" id="<%#= b.id %>"><p style="word-break: break-all;"><%#= b.title %></p></div></a>-->
  <%# end %>
  <!--
</ul>
-->

<div id="book-new"></div>

<script>
  $(function () {
    book_new();
  });

  $(".library").mouseover(function(){
    var id = $(this).attr('id');
    var libraries = $(".library");

    //リストメニューハイライト
    $(libraries).each(function() {
      if ($(this).attr("id") == id) {
        $(this).removeClass("books");
        $('#'+id).addClass("books-active");
      } else {
        $(this).removeClass("books-active");
        $(this).addClass("books");
      }
    });
    //$('#'+id).addClass("alert-success");
    //$('#'+id).addClass("books-active");

    //books#showの読み込み
    //book_show(id);
  });

  function book_new() {
    $.ajax({
       type: "GET",
       url: "/books/new",
       success: function(msg){
         $('#book-new').html(msg);
       }
     });
  };

  function book_create() {
    title = $('#book #inputTitle').val();

    $.ajax({
       type: "POST",
       url: "/books.json",
       data: "book[title]=" + title,
       success: function(msg){
         //var notice = this.getResponseHeader("X-Flash-Notice");
         location.reload();
       },
       error: function(msg){
         var error_msg = $.parseJSON(msg.responseText);
         var error_html = '<div class="alert alert-error">';
         for (i=0; i<error_msg.title.length; i++) {
           error_html += '<p>Title ' + error_msg.title[i] + '</p>';
         }
         error_html += '</div>';
         $('#book-new-message-area').html(error_html);
       }
    });
  }

  jQuery(function(){
    jQuery('#14').draggable();
  });
</script>
