<ul class="nav nav-tabs" id="myTab">
  <li><a href="#word-index" class="active"><%= @book.title.length > 10 ? "#{@book.title.slice(0,5)}..." : @book.title %> (<%= @words.length %>)</a></li>
  <li><a href="#book-edit">設定</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="word-index"></div>
  <div class="tab-pane" id="book-edit"></div>
</div>

<script>
  $(function () {
    $('#myTab a:first').tab('show');
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })

    word_index(<%= @book ? @book.id : @library.id %>);
    book_edit(<%= @book ? @book.id : @library.id %>);
  })

  function word_index(id) {
    $.ajax({
       type: "GET",
       url: "/books/" + id + "/words",
       success: function(msg){
         $('#word-index').html(msg);
       }
     });
  };

  function book_edit(id) {
    $.ajax({
       type: "GET",
       url: "/books/" + id + "/edit",
       success: function(msg){
         $('#book-edit').html(msg);
       }
     });
  };
</script>
