<!-- TODO:yokohama
アップロード時にファイルをUTF-8にコンバートする（テストやってない）
アップロード時にプログレスバーを表示する
ライブラリにアップロードしようとしている場合は、データが全て上書きされると注意をだす。
ライブラリにアップロードの場合は、モデルの関係等、サーバー側のロジックを見直す。
アップロードしたときに、ブックとワードの関係レコードが削除されていない。
-->
<h3>単語一括登録(CSV)</h3>
<div id="dropbox" class="hero-unit">
  <p class="message">ここにCSVをドロップ</p>
</div>

<div id="fileValidation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fileValidation" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="fileValidation">内容の確認</h3>
  </div>
  <div class="modal-body">
    <div id="message"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" onclick="fup.upload_file();$(this).attr('disabled', true);">Save changes</button>
  </div>
</div>

<script>

function FileUpload(elm_id){
  var LOADED_FILE = []; //upload対象のfile一覧
  var LIMIT_IMG_W = 200; //画像fileはthumb nail表示しますが、
  var LIMIT_IMG_H = 200; //その際の最大表示サイズ
  //var UPLOAD_URL = '/samples/file';
  //var UPLOAD_URL = '/words/update';
  var TEXT_ENCODING = 'UTF-8';

  var FILE = null;
    
  //初期化
  this.init = function(elm_id){

    if( $("#" + elm_id).size() == 0 ){
      alert("can't find drop to element id : " + elm_id);
      return;
    }
    LOADED_FILE = [];
        
    //drop eventをセット.
    //※jquery.bindを使用すると、drop eventからdataTransferを取得不可。
    var this_obj = this;
    document.getElementById(elm_id).addEventListener('drop',
      function(e){this_obj.do_drop_file(e);},false);
      //default event & bubblingを中止
      $("#" + elm_id).bind('dragenter', function(e){e.preventDefault(); e.stopPropagation();})
        .bind('dragover', function(e){e.preventDefault(); e.stopPropagation();});
      $("html").bind('drop', function(e){e.preventDefault(); e.stopPropagation();})
        .bind('dragenter', function(e){e.preventDefault(); e.stopPropagation();})
        .bind('dragover', function(e){e.preventDefault(); e.stopPropagation();});
  };

  //fileがdropされると、呼ばれる
  this.do_drop_file = function(e){
    FILE = e.dataTransfer.files[0];

    var reader = new FileReader();
    reader.onloadend = function(e) {
      LOADED_FILE.push(e.target.result);
      fup.validation();
      //fup.upload_file();
    };

    reader.readAsText(FILE, "UIF-8");
  };

  this.validation = function(){
    if (this.can_upload_file()) {
      var data = new Object();
      data.file = LOADED_FILE;
      var this_obj = this;
      $.post(
        '/books/' + "<%= @book.id %>" + '/words/validation', 
        $.param(data,true), 
        function(data,textStatus){ this_obj.print_validation_message(data, textStatus); 
        }
      );
    }
  };

  //表示可能な画像fileの判定
  this.can_upload_file = function(){
    if (FILE.size == 0) {
      $('#fileValidation #fileValidation').empty();
      $('#fileValidation #message').empty();
      $('#fileValidation #fileValidation').append(FILE.name);
      $('#fileValidation #message').append('<p>ファイルが空です。</p>');
      $('#fileValidation').modal('show');
      return false;
    }
    if (FILE.type != 'text/csv'){
      $('#fileValidation #fileValidation').empty();
      $('#fileValidation #message').empty();
      $('#fileValidation #fileValidation').append(FILE.name);
      $('#fileValidation #message').append('<p>いまのところアップロードできるファイルはcsv形式のみです。</p>');
      $('#fileValidation').modal('show');
      return false;
    }
    return true;
  };

  //※html5では、FormDataというクラスが追加されたようですが
  //  firefox3.6では利用できないようなので、jquery.param()で送信.
  this.upload_file = function(){
    if (LOADED_FILE.length ==0) return;
    var data = new Object();
    data.file = LOADED_FILE;
    data.book_id = "<%= @book.id %>";

    var this_obj = this;
    $.post("/books/<%= @book.id %>/words/file_upload", $.param(data,true), function(data,textStatus){ this_obj.post_upload_file(data, textStatus); });
  };

  this.print_validation_message = function(data, textStatus){
    $('#fileValidation #fileValidation').empty();
    $('#fileValidation #message').empty();
    $('#fileValidation #fileValidation').append(FILE.name);
    $('#fileValidation #message').append(data);
    $('#fileValidation').modal('show');
  };

  this.post_upload_file = function(data,textStatus){ 
    $('#fileValidation').modal('hide');
    book_show(<%= @book.id %>);
  };
    
  //初期化実行
  this.init(elm_id);
};

var fup = new FileUpload('dropbox');
</script>
