<h1>単語一覧</h1>

<center>
  <%= link_to "START", swipe_words_path, class: 'btn btn-primary' %>
</center>

<ul>
  <% @words.each do |word| %>
    <li><%= link_to word.keyword, word %></li>
  <% end %>
</ul>
