<style>
  #moge {
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: red;
    word-break: break-all;
  }
  #hoge {
    font-size: xx-large;
    line-height: 40px;
  }
  /*
  @media (max-width: 480px) {
    #moge {
      background-color:black;
    }
  }
  @media (max-width: 320px) {
    #moge {
      background-color:black;
    }
  }
  */
</style>

<div id="slider">
  <ul>
    <% @words.each_with_index do |w, i| %>
      <div style="<%= i == 0 ? 'display:block' : 'display:none' %>">
        <div id="moge">
          <center><%= "#{i+1}/#{@words.size}" %></center>
          <p id="hoge"><%= w.keyword %></p>
        </div>
      </div>
    <% end %>
  </ul>
</div>
<a href='#' onclick='slider.prev();return false;'>●</a>
<a href='#' onclick='slider.next();return false;'>●</a>
<i class="icon-volume-down"></i>
<i class="icon-retweet"></i>

<script>
  var slider = new Swipe(document.getElementById('slider'));
</script>
