<!--<div class="hero-unit" style="padding-top:4px;padding-bottom:40px;"> -->
<div class="container">
  <div class="row">
    <div class="span1">
      <a href='#' onclick='slider.prev();return false;'>●</a>
    </div>
    <div class="span10">
      <div id="slider">
        <ul>
          <% @words.each_with_index do |w, i| %>
            <% if i == 0 %>
              <li style='display:block'><div><h1><%= w.keyword %></h1></div></li>
            <% else %>
              <li style='display:none'><div><h1><%= w.keyword %></h1></div></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span1">
      <a href='#' onclick='slider.next();return false;'>●</a>
    </div>
  </div>
</div>
<!--</div>-->
<%= link_to '戻る', root_path %>

<script>
  var slider = new Swipe(document.getElementById('slider'));
</script>
