<% 
  #encoding: utf-8
  require "csv"

  csv = CSV.new(@file)
%>

<center><p><%= csv.count %>件の単語</p></center>
<table class="table table-striped">
  <thead>
    <tr>
      <th>単語</th>
      <th>答え</th>
    </tr>
  </thead>
  <tbody>
    <% csv.each do |c| %>
      <% if c.size != 2 %>
        <tr style="background-color:red;"><td>hoge</td></tr>
      <% else %>
        <tr>
          <td><%= c[0] %></td>
          <td><%= c[1] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
